.nav-bar{
    margin: 0 auto;
    padding: 25px 25px;
    }
    
    .navbar-collapse {
    justify-content: center;
    margin: 0 auto;
    align-items: flex-start;
    }
    
    .search-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
    }